@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,900,900i&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
}

/* .App {
  text-align: center;
  max-width: 800px;
} */

h3{
  font-size: 2rem;
}

.dropdown-item{
  font-size: 1.4rem;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.explore-places {
  width: 100%;
}

.gem-style {
  border: none;
  background: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-position: center;
}

.gem-marker {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.gem-marker img {
  width: 100%;
  height: 100%;
}

.gem-marker-set {
  height: 50px;
  width: 50px;
}

.setGem button {
  width: 40%;
  position: absolute;
  bottom: 15%;
  right: 30%;
  border-radius: 5%;
}


.nav-custom{
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px #bbb;
}

.main-menu {
  position: fixed;
  width: 100px;
  top: 0;
  left: 5vw;
  z-index: 20;
}

.filter-toggle-button {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 20;
}

.flex-row {
  display: flex;
}

.flex-row-sides {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 50vh;
  padding-top: 40px;
}

.headingSetGem {
  width: 100%;
  background-color: #4badb6;
  height: 10%;
  color: white;
  align-items: center;
}

.btn-like, .btn-unlike {
  color: red;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
}

.wisdom-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("/images/landscape-logout-1.jpg");
  background-size: cover;
}

.header-box {
  background-color: #4badb6;
  text-align: center;
  padding: 20px;
  color: white;
}

.wisdom {
  background-color: rgba(75, 173, 182, 0.8);
  padding: 20px;
  color: white;
  margin: 0 5% 50% 5%;
}

.quote {
  font-size: 36px;
  color: white;
  font-style: italic;
}

.author {
  font-size: 26px;
  color: white;
}

.sharing-box {
  display: flex;
  justify-content: center;
}

.sharing-box div {
  padding-right: 20px;
}

.btn-options,
.btn-travelInterests {
  width: 400px;
  height: 100px;
  padding: 20px;
  margin: 20px;
}

.gem-inactive {
  background-color: white !important;
  color: #4badb6 !important;
}

.btn-primary:hover {
  background-color: #61dfeb !important;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.padding-wrapper {
  padding: 2vh;
}

.generalBtn {
  background-color: #4badb6 !important;
  background-image: none !important;
  border-color: #4bafb8 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
}

.generalBtn-disabled {
  background-color: white !important;
  background-image: none !important;
  border-color: #4bafb8 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  color: #4bafb8 !important;
}

.icon-padding {
  padding-right: 1rem;
  padding-left: 1rem;
  size: 5x;
}

.btn-inactive {
  background-image: none !important;
  border-color: #4badb6 !important;
  color: #4badb6 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  width: 20rem;
  overflow: none !important;
}

@media (max-width: 767px) {
  body {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.generalBtn-disabled {
  background-color: white !important;
  background-image: none !important;
  border-color: #4bafb8 !important;
  font-family: "Montserrat", sans-serif;
  font-weight: 500 !important;
  color: #4badb6 !important;
}

.pageheader {
  background-color: #4badb6;
  font-family: "Montserrat", sans-serif !important;
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
  width: 100vw;
  /* box-shadow: 0 0 10px black !important; */
}

.navbar {
  margin-bottom: 0 !important;
}

.geocoder-container {
  position: absolute;
  width: 80%;
  margin: auto;
  left: 2rem;
  top: 2vh;
  z-index: 100;
}

.react-geocoder input {
  color: #4badb6;
  height: 2.5rem;
  width: 90%;
  margin-left:5%;
  border: 1px #4badb6 solid;
  font-size: 1.5rem;
  border-radius: 5px;
}

.react-geocoder-item {
  padding: 0 0.5rem;
  background-color: white;
  color: #4badb6;
  font-size: 1.5rem;
}

.react-geocoder-item:hover {
  background-color: #4badb6;
  color: white;
}

.filters-btn {
  position: absolute;
  right: 1vw;
  top: 1vh;
  width: 2.6rem !important;
  height: 2.6rem !important;
}

#collasible-nav-dropdown{
  color:#4badb6 !important;
  font-size: 2rem;
}

.carousel-caption{
  z-index: 150;
}

.page-wrapper-narrow{
  max-width: 480px;
  background-color: white;
  margin: auto;
}

.narrow-view-bg{
  background-image: url(/images/bg-landscape-1.jpg);
}


