body {
  margin: 0;
  background: #000;
}
.App {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.explore-places {
  width: 100%;
}

.gem-style {
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("/images/blue_gem.png");
  width: 50px;
  height: 50px;
  background-position: center;
}

.gem-marker {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.gem-marker img {
  width: 30px;
  height: 30px;
}

.setGem button {
  width: 40%;
  position: absolute;
  bottom: 5%;
  right: 30%;
  border-radius: 5%;
}

.gem-popup {
  box-shadow: 2px 2px 4px #bbb;
}

.gem-popup-img {
  padding: 12px 0;
  margin: 0;
  width: 200px;
  height: auto;
}

.gem-popup-title {
  padding: 0;
  margin: 0;
}

.gem-popup-date {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

.main-menu {
  position: fixed;
  width: 100px;
  top: 0;
  left: 5vw;
  z-index: 20;
}

.filter-toggle-button {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 20;
  box-shadow: 2px 2px 4px #bbb;
}

.filters-block {
  position: fixed;
  top: 100px;
  background-color: white;
  padding: 30px 0;
  z-index: 20;
  width: 100%;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #bbb;
}

.gem-details{
  min-height: 100vh;
  padding: 30px;
}

.gem-details-image{
  width: 100%;
  max-width: 700px;
  height: auto;
}

.flex-row{
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 50vh;
}

.SuggestGem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.item {
  display: flex;
  justify-content: space-between;
}
