body {
  margin: 0;
  background: #000;
}
.App {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.gem-style {
  border: none;
  background: none;
  cursor: pointer;
  background-image: url("/images/blue_gem.png");
  width: 50px;
  height: 50px;
  background-position: center;
}

.gem-marker{
  height:100px;
  width:100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gem-marker p{
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

.gem-market img{
  width: 50px;
  height: 50px;
}
