.login-form {
  font-family: "Montserrat", sans-serif !important;
  padding: 10%;
  display: flex;
  flex-direction: column;
}

.label-title {
  font-family: "Montserrat", sans-serif !important;
}

.loginBtn {
  margin: auto !important;
  display: block;
}
.social-login {
  display: flex;
  align-items: center !important;
  flex-direction: column;
  align-items: center;
}
.socialLoginBtn {
  width: 15rem !important;
  text-align: center;
}

.input-login-signup {
  height: 40px !important;
}
.button-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}
